@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --gridCols: 1;
  --gridRows: 1;
}

.title {
  display: grid;
  place-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  padding: 20px 0px 20px 0px;
  margin: 5px;
}

.drawing-plate {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  place-items: center;
  /* background: blue; */
}

.cursor-color-btns {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 10px;
  /* background: lemonchiffon; */
}

.flex-items {
  margin: 2px;
  padding: 2px;
  font-family: "Roboto", sans-serif;
}

.plate-container {
  display: grid;
  grid-template-columns: repeat(var(--gridCols), 1fr);
  grid-template-rows: repeat(var(--gridrows), 1fr);
  margin: 10px;
  width: 500px;
  height: 500px;
  background-color: rgb(243, 239, 239);
}

/* #favcolor {
  height: 80px;
  width: 80px;
  border: none;
} */

input[type="color"] {
  height: 80px;
  width: 80px;
  border: none;
}

.slider {
  text-align: center;
}

#sizeRange {
  width: 80%;
}

button {
  width: 100%;
  margin: 5px;
  border: 0.5px black solid;
  border-radius: 10px;
  background: none;
}

button:hover {
  transform: scale(1.1);
  background: #000;
  color: aliceblue;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

/* .grid-items {
  border: 1px solid black;
} */
